<mat-toolbar color="primary">
    <button mat-icon-button class="h-full" (click)="navigate('todo/list')">
        <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigate('todo/category')">
                <mat-icon>tag</mat-icon>
                <span>Edit Category</span>
            </button>
        </mat-menu>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>